* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
  overflow-y: scroll;
  overflow-x: hidden;
}  

::-webkit-scrollbar { 
  display: none;  /* Chrome Safari */
}

.Toastify__toast {
  font-size: 1.5rem;
  padding-left: 3rem !important;
  font-family: 'Open Sans', sans-serif !important;
  letter-spacing: 1.2px;
}